
<div id="headerwrap">
	    <div class="container">
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3">
					<h4 style="margin-top:20px;">
						welcome to cyanotype
					</h4>

					<h2>
					YOU CAN SIGN <sup>UP</sup> <%= link_to "HERE", "#" %> 
					</h2>
				</div>
				
			</div><! --/row -->
	    </div> <!-- /container -->
</div><! --/headerwrap -->

	

