// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(http://fonts.googleapis.com/css?family=Special+Elite&effect=brick-sign);
@import url(http://fonts.googleapis.com/css?family=Michroma);
@import url(http://fonts.googleapis.com/css?family=Raleway:400);



::-moz-selection {
    background: #009ccc;
    color: #009ccc;
    text-shadow: none;
}

::selection {
    background: #009ccc;
    color: #ff2003;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.centered {
  text-align: center
}

.mt {
  margin-top: 80px;
}

.mb {
  margin-bottom: 80px;
}

/* ==========================================================================
   General styles
   ========================================================================== */


body {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 18px;
  background-repeat: no-repeat;
  color: #ffffff;
  background-color: #3B2F63;
  background-image: -webkit-radial-gradient(50% top, rgba(84,90,182,0.6) 0%,rgba(84,90,182,0) 75%),-webkit-radial-gradient(center top, #794aa2 0%,rgba(121,74,162,0) 57%);
  background-image: radial-gradient( at 50% top, rgba(84,90,182,0.6) 0%,rgba(84,90,182,0) 75%),radial-gradient( at center top, #794aa2 0%,rgba(121,74,162,0) 57%);
  padding-top: 75px;
  margin-bottom: 100px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
    color: #ffffff;
    margin-top: 10px;
}


.navbar-brand {
  font-size: 35px;
  font-family:'Special Elite', serif;
  font-weight: bold;
  padding-top: 15px;  
  padding-bottom: 0px;
}

.navbar-default .navbar-brand {
  color: #3B2F63;
}

.navbar-default .navbar-nav > li > a {
  color: #3B2F63;
  font-family: 'Raleway';
  font-size: .75em;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0px;
  
  font-weight: bold;
  line-height: 1,5em;
}

.navbar-default {
  
  color: #000000;
  border-bottom: 1px solid #494187;
  background-color: #ffffff;
  background-image: -webkit-radial-gradient(50% top, rgba(238,236,255,0.6) 0%,rgba(238,236,255,0) 75%),-webkit-radial-gradient(right top, #eeecff 0%,rgba(73,65,135,0) 57%);
  background-image: radial-gradient( at 50% top, rgba(238,236,255,0.6) 0%,rgba(238,236,255,0) 75%),radial-gradient( at right top, #eeecff 0%,rgba(73,65,135,0) 57%);
  margin-bottom: 75px;
}


.navbar-default .navbar-nav > li > a:hover {
  color: #3B2F63;
  background-color: #fafafa;
  font-weight: bold;

}



/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
  background: url() no-repeat center top;
  margin-top: 10px;
  padding-top: 20px;
  text-align:center;
  background-attachment: relative;
  background-position: center center;
  min-height: 50px;
  width: 100%;
  
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
  color:#ffffff;
  padding-top: 10px;
  padding-bottom: 15px;
  letter-spacing: 4px;
  font-size: 60px;
  font-weight: bold;
}

#headerwrap h2 {
  padding-top: 30px;
  padding-bottom: 0px;	
  font-weight: 400;
  color: #ffffff;
}
#headerwrap h4 {
  font-weight: 400;
  color: #ffffff;
}

#social {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f2f2f2;
}

#social i {
  font-size: 40px;
  color: #0dcfff
}

#social i:hover {
  color: #0dcfff
}

#footerwrap {
  padding-top: 70px;
  padding-bottom: 50px;
  background-color: #2f2f2f;
}

#footerwrap p {
  color: #f2f2f2;
  margin-left: 10px;
}

#workwrap { 
  background: url() no-repeat center top;
  margin-top: -70px;
  padding-top: 250px;
  text-align:center;
  background-attachment: relative;
  background-position: center center;
  min-height: 650px;
  width: 100%;
  
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#workwrap h2 {
  color:#ffffff;
  padding-top: 10px;
  padding-bottom: 20px;
  letter-spacing: 4px;
  font-size: 60px;
  font-weight: bold;
}

#workwrap h4 {
  font-weight: 400;
  color: #ffffff
}

#aboutwrap {
  background: url() no-repeat center top;
  margin-top: 40px;
  padding-top: 20px;
  text-align:center;
  background-attachment: relative;
  background-position: center center;
  min-height: 50px;
  width: 100%;
  
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#aboutwrap h1 {
  color:#ffffff;
  padding-top: 10px;
  padding-bottom: 15px;
  letter-spacing: 4px;
  font-size: 60px;
  font-weight: bold;
}

#aboutwrap h2 {
  padding-top: 30px;
  padding-bottom: 0px;	
  font-weight: 400;
  color: #ffffff;
}

#aboutwrap h4 {
  padding-top: 30px;
  font-weight: 400;
  color: #ffffff;
}


a:hover, a:focus {
  color: #ffffff;
  text-decoration: underline;
}

/* Gallery */
.gallery {
  margin-top: 30px;
}

.gallery img:hover {
  opacity: 0.4;
}

.alert {
  color: #3B2F63;
  padding: 5px;
  margin-top: 75px;
  margin-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 18px;
  background-color: #ffffff;
  }

.panel-title {
  margin-top: 0;
  margin-bottom: -05;
  margin-left: 10px;
}

.panel-heading {
  padding: 5px;
  margin-top: 30px;
  border: 0px solid white;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.9),0 1px 0 rgba(255,255,255,0.9) inset;
  background-color: #161540;
  background-image: -webkit-radial-gradient(50% bottom, rgba(84,90,182,0.6) 0%,rgba(84,90,182,0) 75%),-webkit-radial-gradient(center bottom, #794aa2 0%,rgba(121,74,162,0) 57%);
  background-image: radial-gradient( at 50% bottom, rgba(84,90,182,0.6) 0%,rgba(84,90,182,0) 75%),radial-gradient( at center bottom, #794aa2 0%,rgba(121,74,162,0) 57%);
  }

.panel {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #ffffff;
  border: 0px solid white;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 16px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.9),0 1px 0 rgba(255,255,255,0.9) inset;
  }
  
.panel-body {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #161540;
  background-image: -webkit-radial-gradient(50% top, rgba(84,90,182,0.6) 0%,rgba(84,90,182,0) 75%),-webkit-radial-gradient(center top, #794aa2 0%,rgba(121,74,162,0) 57%);
  background-image: radial-gradient( at 50% top, rgba(84,90,182,0.6) 0%,rgba(84,90,182,0) 75%),radial-gradient( at center top, #794aa2 0%,rgba(121,74,162,0) 57%);
  border: 0px solid white;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 16px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.9),0 1px 0 rgba(255,255,255,0.9) inset;
}

.panel-footer {
  color: #3B2F63;
  font-family: 'Raleway';
  font-size: .75em;
  text-transform: underline;
}

.panel-footer h4 {
  color: #3B2F63;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
}  

.panel h2 {
  font-size: 16px;
  color: #3B2F63
} 

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
  position: relative;
  margin-left: 0px;
}

button,
input,
optgroup,
select,
textarea {
  color: #000000;
}